#ifndef ENV_HPP
#define ENV_HPP

////////////////////////////////////////////////// WiFi credentials ///////////////////////////////////////////////////
const char *ENV_SSID = "YOUR_SSID";
const char *ENV_PASS = "YOUR_PASS";

///////////////////////////////////////////////////// User data ///////////////////////////////////////////////////////

const char *ENV_LNURL = "YOUR_LNURL"; // LNURL to recive payments

#endif